header{
    height: 45px;
    box-shadow: 0 0 8px rgba(0,0,0, .2);
}
header img{
    height: 40px;
}
header ul{
    display: flex;
}
header li{
    padding-right: 30px;
}
.inner-container{
    width: 950px;
    margin: 0 auto;
}
header .inner-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.search-room-section{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
.room-list .inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.room-list ul{
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0, .2);
}
.paging{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paging-list{
    display: flex;
    justify-content: center;
    align-items: center;
}